<%= @game.player_1.name %> vs. <%= @game.player_2.name %>

<%= @game.player_1.name %>: <%= @game.player_1.hit_points %>HP
<%= @game.player_2.name %>: <%= @game.player_2.hit_points %>HP

<a href="/attack_player1">Attack Player 1</a>
<a href="/attack_player2">Attack Player 2</a>